# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
Server/static/*
!Server/static/.gitkeep

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json

/.idea

/misc.xm
/venv
/Server/venv
/Server/.idea
/.idea/Code.iml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml

/Server/__pycache__
!**/__pycache__/
