
#AHP-DIV #ahp-form{
    margin: 5px 30%;
    font-size: large;
    font-family: inherit;
}

#AHP-DIV h1{
    margin: 0px;
    padding: 20px;
    font-family: inherit;
}

#AHP-DIV #ahp-form Button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}
