#tableAndTextAreaDiv{
    display: flex;
    flex-direction: row;
    margin: 0px 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    height: 400px;
}

#sqlDiv #index{
    cursor: pointer;
    color: blue;
}

#sqlDiv textarea{
    margin-left: 5%;
    height: 320px;
    margin-top: 20px;
}

#sqlDiv #buttonsDiv{
    width: 20%;
    margin: 0px 40%;
}

#sqlDiv .selected {
    background: #5bc0de;
    /*border: 2px solid rgb(0, 17, 255);*/
  }

#sqlDiv #helpButton{
    float: right;
  }

#sqlDiv #sql-table{
    border: 2px solid black;
}


#sql-table thead {
    border-top: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
}
#sql-table tbody {
    overflow: visible !important;
}

#sqlDiv #buttonsDiv Button{
    margin: 1px 1%;
}
