.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .diagram-component {
    width: 500px;
    height: 500px;
    border: solid 1px black;
    background-color: white;
    flex-grow: 1;
  }
  
  .paletteComponent {
    width: 200px;
    height: 500px;
    margin-right: 2px;
    background-color: whitesmoke; 
    border: solid 1px black
  }

  #wrapper {
    /* display: "flex"; */
    width: 100%;
  }

  #editorDiv {
    width: 60%;
    display: flex;
    margin: 20px 20%;
  }

  #mySavedModel{
    display: none;
  }

  .umlButtons{
    border-radius: 3px;
    /* background-color: #4CAF50;
    color: white; */
  }

  #SaveButton:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid #0dcaf0;
  }

  #LoadButton:hover {
    background-color: white;
    color: black;
    border: 2px solid #d11a1a;
  }

  .umlButtons:disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }

#helpButton{
  float: right;
}
