.button1 {
    border: none;
    font: bold;
}

.UserDiv {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    margin-right: 1%;
}

.LoggedInDisplay {
    display: flex;
    flex-direction: row;
}

.UsernameDisplay {
    padding-right: 10px;
}

.userButton {
    /*margin: 10px;*/
}